.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color:transparent;
  }
  
  .footer p {
    word-spacing: 1.5px;
    padding-bottom: 15px;
  }
  
  .footer a {
    text-decoration: none;
    color: #000;
  }