.bug {
  background-color: #9cb820;
}

.fire {
  background-color: #f03a30;
}

.grass {
  background-color: #22c02a;
}

.poison {
  background-color: #992799;
}

.water {
  background-color: #6890f0;
}

.flying {
  background-color: #80acc5d6;
}

.normal {
  background-color: #a8a8a8;
}

.fairy {
  background-color: #f09ad9;
}

.electric {
  background-color: #e7d42a;
}

.ground {
  background-color: #e0b668;
}
